.shelf_container {
    margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    height: 800px;
    width: 800px;

}

.shelves {
    height:100px;
    width:600px;
    background-color:#ED6B5A;
    margin-top: 20px;
    align-content: center;
    border-radius: 15px;
    
}

.shelves h1 {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    color:white;
    font-size: 30px;
    padding-top: 30px;
    margin-left:100px;
}
Link {
    style:none;
}

